<!DOCTYPE html> {% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Wisely</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  -->
    <!-- Optional theme -->
</head>
<script>
</script>
<style type="text/css">
    body,
    html {
        background-color: #f1f1f1;
        margin: 0px;
        padding: 0px;
    }
    
    .chart--container {
        min-height: 530px;
        width: 100%;
        height: 100%;
    }
    
    .zc-ref {
        display: none;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        border-bottom: 1px solid #DAE0E6;
    }
    
    .container {
        width: 100%;
        /* left: 0;
         */
        margin-top: 80px;
    }
    
    .options {
        text-align: center;
        margin-top: 55.6px;
        width: 100%;
        height: 65px;
        padding: 10px;
        background-color: white;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
        right: 0;
        padding: 0 !important;
    }
    
    .card {
        margin: auto;
        width: 800px;
        border: 1px solid #CCCCCC;
        margin-top: 20px;
    }
    
    .article {
        margin-bottom: 5px;
        /* margin: 20px !important; */
        padding: 20px;
        height: 150px;
        /* hei width: 100%; */
    }
    
    img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }
    
    .muted {
        color: #A1A1A3;
        font-size: 0.8em;
    }
    
    .title {
        color: black;
        text-decoration: black;
    }
    
    .spreadgraph {
        text-align: center;
        /* width: 100%; */
    }
    
    canvas {
        height: 500px !important;
    }
    
    .incr {
        color: #f00;
        font-size: 0.8em;
        font-style: bold;
    }
    
    h5 {
        text-align: center;
    }
</style>

<body>
    {% include 'newsapp\nav.html' %}


    <div class="container">
        <div style="position: relative;">
            <div style="display: inline-block; float: left; width: 40%; ">
                <div class="card text-white bg-danger mb-3" style="max-width: 10rem; max-height: 8rem;">
                    <div class="card-header">Confirmed</div>
                    <div class="card-body">
                        <h5 class="card-title" id="conf">
                        </h5>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3" style="max-width: 10rem;  max-height: 8rem;">
                    <div class="card-header">Active</div>
                    <div class="card-body">
                        <h5 class="card-title" id="act">
                        </h5>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 10rem;  max-height: 8rem;">
                    <div class="card-header">Recovered</div>
                    <div class="card-body">
                        <h5 class="card-title" id="rec">
                        </h5>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3" style="max-width: 10rem;  max-height: 8rem;">
                    <div class="card-header">Deceased</div>
                    <div class="card-body">
                        <h5 class="card-title" id="dec">
                        </h5>
                    </div>
                </div>
            </div>

            <div id="myChart" class="chart--container" style="display: inline-block; height: 100%; right:0; float: right; margin-bottom: 30px; width: 60%;">
            </div>
        </div>
        <div class="spreadgraph"><br>
            <h2> &nbsp;</h2>
            <h2> Spread Trends</h2>
            <br> <select id="state_select" style="font-size: 1.5em; text-align: center;" onchange="chartFunc()">
                        {% for key,value in code_map.items %}
                          <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}

                </select>
            <br>
            <br>
            <div height="500px">
                <canvas id="line-chart" width="800px" height="450px"></canvas>
            </div>
        </div>
        <table id="districtTable" class="table table-hover table-dark" style="width: 50%; margin:auto;">

            <tr>
                <th scope="col">District</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Active</th>
                <th scope="col">Deceased</th>
                <th scope="col">Recovered</th>
            </tr>


        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        var table = JSON.parse(`{{ table|safe }}`);
        var state_codes = JSON.parse(`{{ codes|safe }}`);
        var confirmed = JSON.parse(`{{ confirmed|safe }}`);
        var recovered = JSON.parse(`{{ recovered|safe }}`);
        var deceased = JSON.parse(`{{ deceased|safe }}`);
        $(document).ready(function() {
            chartFunc();
        });
        var conf = 0,
            dec = 0,
            act = 0,
            rec = 0;
        for (var i in table) {
            // alert(i)
            for (j in table[i]["districtData"]) {
                // alert(j);
                act += table[i]["districtData"][j]["active"];
                conf += table[i]["districtData"][j]["confirmed"];
                dec += table[i]["districtData"][j]["deceased"];
                rec += table[i]["districtData"][j]["recovered"];
            }

        }
        // alert(conf + " " + act + " " + rec + " " + dec);
        document.getElementById('conf').innerHTML = conf;
        document.getElementById('act').innerHTML = act;
        document.getElementById('rec').innerHTML = rec;
        document.getElementById('dec').innerHTML = dec;

        var tableFunc = function() {
            var state = $("#state_select option:selected").text();
            // alert(table[state]['districtData'])
            document.getElementById('districtTable').innerHTML = "<tr>" +
                "<th scope='col'>District</th>" +
                "<th scope='col'>Confirmed</th>" +
                "<th scope='col'>Active</th>" +
                "<th scope='col'>Deceased</th>" +
                "<th scope='col'>Recovered</th>" +
                "</tr>";
            for (var d in table[state]['districtData']) {
                var district = d;
                if (d == "Unknown")
                    continue;
                var a = table[state]['districtData'][d]['active'];
                var c = table[state]['districtData'][d]['confirmed'];
                var r = table[state]['districtData'][d]['recovered'];
                var dd = table[state]['districtData'][d]['deceased'];
                var deltaconfirmed = table[state]['districtData'][d]['delta']['confirmed'];
                var deltarecovered = table[state]['districtData'][d]['delta']['recovered'];
                var deltadeaths = table[state]['districtData'][d]['delta']['deceased'];
                var s = "<tr>" +
                    "<td>" + district + "</td>" + "<td>" + c;
                if (deltaconfirmed > 0) {
                    s += "<span class='incr'> +" + deltaconfirmed + "</span>";
                }
                s += "</td>" + "<td>" + a + "</td>" +
                    "<td>" + dd;
                if (deltadeaths > 0) {
                    s += "<span class='incr'> +" + deltadeaths + "</span>";
                }
                s += "</td>" + "<td>" + r;
                if (deltarecovered > 0) {
                    s += "<span class='incr'> +" + deltarecovered + "</span>";
                }
                s += "</td>" + "</tr>";
                document.getElementById('districtTable').innerHTML += s;
            }
        }

        var chartFunc = function() {
            tableFunc();
            var state = document.getElementById("state_select").value;
            var chart_line = new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: confirmed[state]['labels'],

                    datasets: [{
                        data: confirmed[state]['data'],
                        label: "Confirmed",
                        borderColor: "#f00",
                        fill: false
                    }, {
                        data: recovered[state]['data'],
                        label: "Recovered",
                        borderColor: "#8e5ea2",
                        fill: false
                    }, {
                        data: deceased[state]['data'],
                        label: "Deceased",
                        borderColor: "#000",
                        fill: false
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Spread Trends for " + state_codes[state]
                    },
                    maintainAspectRatio: false,
                    responsive: true
                }
            });
            chart_line.height = "300";
        }

        var colorFunc = function(num) {
            if (0 <= num && num < 1) {
                return color[0];
            } else if (1 <= num && num < 2) {
                return color[1];
            } else if (90 <= num && num < 100) {
                return color[9];
            } else if (2 <= num && num < 4) {
                return color[2];
            } else if (4 <= num && num < 10) {
                return color[3];
            } else if (10 <= num && num < 20) {
                return color[4];
            } else if (20 <= num && num < 30) {
                return color[5];
            } else if (30 <= num && num < 40) {
                return color[6];
            } else if (40 <= num && num < 60) {
                return color[7];
            } else if (60 <= num && num < 90) {
                return color[8];
            }
        }
        var statewise = JSON.parse(`{{ statewise|safe }}`);
        var states = new Array();
        var total;
        var color = ['#FBE3E3', '#FFBABA', '#FEA8A8', '#FE8E8E', '#FE0000', '#D40000', '#AB0000', '#760101', '#760101', '#760101']
        for (var i = 0; i < statewise.length; i++) {
            if (code = "TT") {
                total = statewise[i]['confirmed'];
                // alert(total);
                break;
            }
        }
        for (var i = 0; i < statewise.length; i++) {
            var code = statewise[i]['statecode'];
            var k = 100 * (parseInt(statewise[i]['confirmed']) / parseInt(total));
            statewise[i]['shade'] = colorFunc(k);
            states[code] = statewise[i];
        }

        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
        let chartConfig = {
            shapes: [{
                type: 'zingchart.maps',
                options: {
                    bbox: [67.177, 36.494, 98.403, 6.965], // get bbox from zingchart.maps.getItemInfo('world-countries','ind');
                    ignore: ['IND'], // ignore India because we are rendering a more specific India map below
                    name: 'world.countries',
                    panning: false, // turn of zooming. Doesn't work with bounding box
                    style: {
                        tooltip: {
                            borderColor: '#000',
                            borderWidth: '2px',
                            fontSize: '18px'
                        },
                        controls: {
                            visible: false // turn of zooming. Doesn't work with bounding box
                        },
                        hoverState: {
                            alpha: .28
                        }
                    },
                    zooming: false // turn of zooming. Doesn't work with bounding box
                }
            }, {
                type: 'zingchart.maps',
                options: {
                    name: 'ind',
                    panning: false, // turn of zooming. Doesn't work with bounding box
                    zooming: false,
                    scrolling: false,
                    style: {
                        tooltip: {
                            borderColor: '#000',
                            borderWidth: '2px',
                            fontSize: '18px'
                        },
                        borderColor: '#000',
                        borderWidth: '2px',
                        controls: {
                            visible: false, // turn of zooming. Doesn't work with bounding box

                        },
                        hoverState: {
                            alpha: .28
                        },
                        items: {
                            AP: {
                                tooltip: {
                                    text: states['AP']['state'] + "\nactive: " + states['AP']['active'] + " cases\nconfirmed: " +
                                        states['AP']['confirmed'] + " cases (+" + states['AP']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['AP']['deaths'] + " cases (+" + states['AP']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['AP']['recovered'] + " cases (+" + states['AP']['deltarecovered'] + ")",
                                    backgroundColor: states['AP']['shade']
                                },
                                backgroundColor: states['AP']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            AR: {
                                tooltip: {
                                    text: states['AR']['state'] + "\nactive: " + states['AR']['active'] + " cases\nconfirmed: " +
                                        states['AR']['confirmed'] + " cases (+" + states['AR']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['AR']['deaths'] + " cases (+" + states['AR']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['AR']['recovered'] + " cases (+" + states['AR']['deltarecovered'] + ")",
                                    backgroundColor: states['AR']['shade']
                                },
                                backgroundColor: states['AR']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            AS: {
                                tooltip: {
                                    text: states['AS']['state'] + "\nactive: " + states['AS']['active'] + " cases\nconfirmed: " +
                                        states['AS']['confirmed'] + " cases (+" + states['AS']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['AS']['deaths'] + " cases (+" + states['AS']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['AS']['recovered'] + " cases (+" + states['AS']['deltarecovered'] + ")",
                                    backgroundColor: states['AS']['shade']
                                },
                                backgroundColor: states['AS']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            KA: {
                                tooltip: {
                                    text: states['KA']['state'] + "\nactive: " + states['KA']['active'] + " cases\nconfirmed: " +
                                        states['KA']['confirmed'] + " cases (+" + states['KA']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['KA']['deaths'] + " cases (+" + states['KA']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['KA']['recovered'] + " cases (+" + states['KA']['deltarecovered'] + ")",
                                    backgroundColor: states['KA']['shade']
                                },
                                backgroundColor: states['KA']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            BR: {
                                tooltip: {
                                    text: states['BR']['state'] + "\nactive: " + states['BR']['active'] + " cases\nconfirmed: " +
                                        states['BR']['confirmed'] + " cases (+" + states['BR']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['BR']['deaths'] + " cases (+" + states['BR']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['BR']['recovered'] + " cases (+" + states['BR']['deltarecovered'] + ")",
                                    backgroundColor: states['BR']['shade']
                                },
                                backgroundColor: states['BR']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            CT: {
                                tooltip: {
                                    text: states['CT']['state'] + "\nactive: " + states['CT']['active'] + " cases\nconfirmed: " +
                                        states['CT']['confirmed'] + " cases (+" + states['CT']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['CT']['deaths'] + " cases (+" + states['CT']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['CT']['recovered'] + " cases (+" + states['CT']['deltarecovered'] + ")",
                                    backgroundColor: states['CT']['shade']
                                },
                                backgroundColor: states['CT']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            GA: {
                                tooltip: {
                                    text: states['GA']['state'] + "\nactive: " + states['GA']['active'] + " cases\nconfirmed: " +
                                        states['GA']['confirmed'] + " cases (+" + states['GA']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['GA']['deaths'] + " cases (+" + states['GA']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['GA']['recovered'] + " cases (+" + states['GA']['deltarecovered'] + ")",
                                    backgroundColor: states['GA']['shade']
                                },
                                backgroundColor: states['GA']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            GJ: {
                                tooltip: {
                                    text: states['GJ']['state'] + "\nactive: " + states['GJ']['active'] + " cases\nconfirmed: " +
                                        states['GJ']['confirmed'] + " cases (+" + states['GJ']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['GJ']['deaths'] + " cases (+" + states['GJ']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['GJ']['recovered'] + " cases (+" + states['GJ']['deltarecovered'] + ")",
                                    backgroundColor: states['GJ']['shade']
                                },
                                backgroundColor: states['GJ']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            HR: {
                                tooltip: {
                                    text: states['HR']['state'] + "\nactive: " + states['HR']['active'] + " cases\nconfirmed: " +
                                        states['HR']['confirmed'] + " cases (+" + states['HR']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['HR']['deaths'] + " cases (+" + states['HR']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['HR']['recovered'] + " cases (+" + states['HR']['deltarecovered'] + ")",
                                    backgroundColor: states['HR']['shade']
                                },
                                backgroundColor: states['HR']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            HP: {
                                tooltip: {
                                    text: states['HP']['state'] + "\nactive: " + states['HP']['active'] + " cases\nconfirmed: " +
                                        states['HP']['confirmed'] + " cases (+" + states['HP']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['HP']['deaths'] + " cases (+" + states['HP']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['HP']['recovered'] + " cases (+" + states['HP']['deltarecovered'] + ")",
                                    backgroundColor: states['HP']['shade']
                                },
                                backgroundColor: states['HP']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            JH: {
                                tooltip: {
                                    text: states['JH']['state'] + "\nactive: " + states['JH']['active'] + " cases\nconfirmed: " +
                                        states['JH']['confirmed'] + " cases (+" + states['JH']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['JH']['deaths'] + " cases (+" + states['JH']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['JH']['recovered'] + " cases (+" + states['JH']['deltarecovered'] + ")",
                                    backgroundColor: states['JH']['shade']
                                },
                                backgroundColor: states['JH']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            KL: {
                                tooltip: {
                                    text: states['KL']['state'] + "\nactive: " + states['KL']['active'] + " cases\nconfirmed: " +
                                        states['KL']['confirmed'] + " cases (+" + states['KL']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['KL']['deaths'] + " cases (+" + states['KL']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['KL']['recovered'] + " cases (+" + states['KL']['deltarecovered'] + ")",
                                    backgroundColor: states['KL']['shade']
                                },
                                backgroundColor: states['KL']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            MP: {
                                tooltip: {
                                    text: states['MP']['state'] + "\nactive: " + states['MP']['active'] + " cases\nconfirmed: " +
                                        states['MP']['confirmed'] + " cases (+" + states['MP']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['MP']['deaths'] + " cases (+" + states['MP']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['MP']['recovered'] + " cases (+" + states['MP']['deltarecovered'] + ")",
                                    backgroundColor: states['MP']['shade']
                                },
                                backgroundColor: states['MP']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            MH: {
                                tooltip: {
                                    text: states['MH']['state'] + "\nactive: " + states['MH']['active'] + " cases\nconfirmed: " +
                                        states['MH']['confirmed'] + " cases (+" + states['MH']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['MH']['deaths'] + " cases (+" + states['MH']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['MH']['recovered'] + " cases (+" + states['MH']['deltarecovered'] + ")",
                                    'font-color': "#fff",
                                    backgroundColor: states['MH']['shade']
                                },
                                backgroundColor: states['MH']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            MN: {
                                tooltip: {
                                    text: states['MN']['state'] + "\nactive: " + states['MN']['active'] + " cases\nconfirmed: " +
                                        states['MN']['confirmed'] + " cases (+" + states['MN']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['MN']['deaths'] + " cases (+" + states['MN']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['MN']['recovered'] + " cases (+" + states['MN']['deltarecovered'] + ")",
                                    backgroundColor: states['MN']['shade']
                                },
                                backgroundColor: states['MN']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            ML: {
                                tooltip: {
                                    text: states['ML']['state'] + "\nactive: " + states['ML']['active'] + " cases\nconfirmed: " +
                                        states['ML']['confirmed'] + " cases (+" + states['ML']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['ML']['deaths'] + " cases (+" + states['ML']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['ML']['recovered'] + " cases (+" + states['ML']['deltarecovered'] + ")",
                                    backgroundColor: states['ML']['shade']
                                },
                                backgroundColor: states['ML']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            MZ: {
                                tooltip: {
                                    text: states['MZ']['state'] + "\nactive: " + states['MZ']['active'] + " cases\nconfirmed: " +
                                        states['MZ']['confirmed'] + " cases (+" + states['MZ']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['MZ']['deaths'] + " cases (+" + states['MZ']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['MZ']['recovered'] + " cases (+" + states['MZ']['deltarecovered'] + ")",
                                    backgroundColor: states['MZ']['shade']
                                },
                                backgroundColor: states['MZ']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            NL: {
                                tooltip: {
                                    text: states['NL']['state'] + "\nactive: " + states['NL']['active'] + " cases\nconfirmed: " +
                                        states['NL']['confirmed'] + " cases (+" + states['NL']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['NL']['deaths'] + " cases (+" + states['NL']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['NL']['recovered'] + " cases (+" + states['NL']['deltarecovered'] + ")",
                                    backgroundColor: states['NL']['shade']
                                },
                                backgroundColor: states['NL']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            OR: {
                                tooltip: {
                                    text: states['OR']['state'] + "\nactive: " + states['OR']['active'] + " cases\nconfirmed: " +
                                        states['OR']['confirmed'] + " cases (+" + states['OR']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['OR']['deaths'] + " cases (+" + states['OR']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['OR']['recovered'] + " cases (+" + states['OR']['deltarecovered'] + ")",
                                    backgroundColor: states['OR']['shade']
                                },
                                backgroundColor: states['OR']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            PB: {
                                tooltip: {
                                    text: states['PB']['state'] + "\nactive: " + states['PB']['active'] + " cases\nconfirmed: " +
                                        states['PB']['confirmed'] + " cases (+" + states['PB']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['PB']['deaths'] + " cases (+" + states['PB']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['PB']['recovered'] + " cases (+" + states['PB']['deltarecovered'] + ")",
                                    backgroundColor: states['PB']['shade']
                                },
                                backgroundColor: states['PB']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            RJ: {
                                tooltip: {
                                    text: states['RJ']['state'] + "\nactive: " + states['RJ']['active'] + " cases\nconfirmed: " +
                                        states['RJ']['confirmed'] + " cases (+" + states['RJ']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['RJ']['deaths'] + " cases (+" + states['RJ']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['RJ']['recovered'] + " cases (+" + states['RJ']['deltarecovered'] + ")",
                                    backgroundColor: states['RJ']['shade']
                                },
                                backgroundColor: states['RJ']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            SK: {
                                tooltip: {
                                    text: states['SK']['state'] + "\nactive: " + states['SK']['active'] + " cases\nconfirmed: " +
                                        states['SK']['confirmed'] + " cases (+" + states['SK']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['SK']['deaths'] + " cases (+" + states['SK']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['SK']['recovered'] + " cases (+" + states['SK']['deltarecovered'] + ")",
                                    backgroundColor: states['SK']['shade']
                                },
                                backgroundColor: states['SK']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            TN: {
                                tooltip: {
                                    text: states['TN']['state'] + "\nactive: " + states['TN']['active'] + " cases\nconfirmed: " +
                                        states['TN']['confirmed'] + " cases (+" + states['TN']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['TN']['deaths'] + " cases (+" + states['TN']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['TN']['recovered'] + " cases (+" + states['TN']['deltarecovered'] + ")",
                                    backgroundColor: states['TN']['shade']
                                },
                                backgroundColor: states['TN']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            TL: {
                                tooltip: {
                                    text: states['TG']['state'] + "\nactive: " + states['TG']['active'] + " cases\nconfirmed: " +
                                        states['TG']['confirmed'] + " cases (+" + states['TG']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['TG']['deaths'] + " cases (+" + states['TG']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['TG']['recovered'] + " cases (+" + states['TG']['deltarecovered'] + ")",
                                    backgroundColor: states['TG']['shade']
                                },
                                backgroundColor: states['TG']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            TR: {
                                tooltip: {
                                    text: states['TR']['state'] + "\nactive: " + states['TR']['active'] + " cases\nconfirmed: " +
                                        states['TR']['confirmed'] + " cases (+" + states['TR']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['TR']['deaths'] + " cases (+" + states['TR']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['TR']['recovered'] + " cases (+" + states['TR']['deltarecovered'] + ")",
                                    backgroundColor: states['TR']['shade']
                                },
                                backgroundColor: states['TR']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            UP: {
                                tooltip: {
                                    text: states['UP']['state'] + "\nactive: " + states['UP']['active'] + " cases\nconfirmed: " +
                                        states['UP']['confirmed'] + " cases (+" + states['UP']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['UP']['deaths'] + " cases (+" + states['UP']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['UP']['recovered'] + " cases (+" + states['UP']['deltarecovered'] + ")",
                                    backgroundColor: states['UP']['shade']
                                },
                                backgroundColor: states['UP']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            UT: {
                                tooltip: {
                                    text: states['UT']['state'] + "\nactive: " + states['UT']['active'] + " cases\nconfirmed: " +
                                        states['UT']['confirmed'] + " cases (+" + states['UT']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['UT']['deaths'] + " cases (+" + states['UT']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['UT']['recovered'] + " cases (+" + states['UT']['deltarecovered'] + ")",
                                    backgroundColor: states['UT']['shade']
                                },
                                backgroundColor: states['UT']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            WB: {
                                tooltip: {
                                    text: states['WB']['state'] + "\nactive: " + states['WB']['active'] + " cases\nconfirmed: " +
                                        states['WB']['confirmed'] + " cases (+" + states['WB']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['WB']['deaths'] + " cases (+" + states['WB']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['WB']['recovered'] + " cases (+" + states['WB']['deltarecovered'] + ")",
                                    backgroundColor: states['WB']['shade']
                                },
                                backgroundColor: states['WB']['shade'],
                                label: {
                                    visible: true
                                }
                            },


                            JK: {
                                tooltip: {
                                    text: states['JK']['state'] + "\nactive: " + states['JK']['active'] + " cases\nconfirmed: " +
                                        states['JK']['confirmed'] + " cases (+" + states['JK']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['JK']['deaths'] + " cases (+" + states['JK']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['JK']['recovered'] + " cases (+" + states['JK']['deltarecovered'] + ")",
                                    backgroundColor: states['JK']['shade']
                                },
                                backgroundColor: states['JK']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            AN: {
                                tooltip: {
                                    text: states['AN']['state'] + "\nactive: " + states['AN']['active'] + " cases\nconfirmed: " +
                                        states['AN']['confirmed'] + " cases (+" + states['AN']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['AN']['deaths'] + " cases (+" + states['AN']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['AN']['recovered'] + " cases (+" + states['AN']['deltarecovered'] + ")",
                                    backgroundColor: states['AN']['shade']
                                },
                                backgroundColor: states['AN']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            CH: {
                                tooltip: {
                                    text: states['CH']['state'] + "\nactive: " + states['CH']['active'] + " cases\nconfirmed: " +
                                        states['CH']['confirmed'] + " cases (+" + states['CH']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['CH']['deaths'] + " cases (+" + states['CH']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['CH']['recovered'] + " cases (+" + states['CH']['deltarecovered'] + ")",
                                    backgroundColor: states['CH']['shade']
                                },
                                backgroundColor: states['CH']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            DD: {
                                tooltip: {
                                    text: states['DD']['state'] + "\nactive: " + states['DD']['active'] + " cases\nconfirmed: " +
                                        states['DD']['confirmed'] + " cases (+" + states['DD']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['DD']['deaths'] + " cases (+" + states['DD']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['DD']['recovered'] + " cases (+" + states['DD']['deltarecovered'] + ")",
                                    backgroundColor: states['DD']['shade']
                                },
                                backgroundColor: states['DD']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            DL: {
                                tooltip: {
                                    text: states['DL']['state'] + "\nactive: " + states['DL']['active'] + " cases\nconfirmed: " +
                                        states['DL']['confirmed'] + " cases (+" + states['DL']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['DL']['deaths'] + " cases (+" + states['DL']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['DL']['recovered'] + " cases (+" + states['DL']['deltarecovered'] + ")",
                                    backgroundColor: states['DL']['shade']
                                },
                                backgroundColor: states['DL']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            LA: {
                                tooltip: {
                                    text: states['LA']['state'] + "\nactive: " + states['LA']['active'] + " cases\nconfirmed: " +
                                        states['LA']['confirmed'] + " cases (+" + states['LA']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['LA']['deaths'] + " cases (+" + states['LA']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['LA']['recovered'] + " cases (+" + states['LA']['deltarecovered'] + ")",
                                    backgroundColor: states['LA']['shade']
                                },
                                backgroundColor: states['LA']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            LD: {
                                tooltip: {
                                    text: states['LD']['state'] + "\nactive: " + states['LD']['active'] + " cases\nconfirmed: " +
                                        states['LD']['confirmed'] + " cases (+" + states['LD']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['LD']['deaths'] + " cases (+" + states['LD']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['LD']['recovered'] + " cases (+" + states['LD']['deltarecovered'] + ")",
                                    backgroundColor: states['LD']['shade']
                                },
                                backgroundColor: states['LD']['shade'],
                                label: {
                                    visible: true
                                }
                            },

                            PY: {
                                tooltip: {
                                    text: states['PY']['state'] + "\nactive: " + states['PY']['active'] + " cases\nconfirmed: " +
                                        states['PY']['confirmed'] + " cases (+" + states['PY']['deltaconfirmed'] + ")" +
                                        "\ndeaths: " + states['PY']['deaths'] + " cases (+" + states['PY']['deltadeaths'] + ")" +
                                        "\nrecovered: " + states['PY']['recovered'] + " cases (+" + states['PY']['deltarecovered'] + ")",
                                    backgroundColor: states['PY']['shade']
                                },
                                backgroundColor: states['PY']['shade'],
                                label: {
                                    visible: true
                                }
                            }


                            // MH: {
                            //     tooltip: {
                            //         text: 'Maharashtra has 2,683 monthly users total',
                            //         backgroundColor: '#ff9800'
                            //     },
                            //     backgroundColor: '#ff9800',
                            //     label: {
                            //         visible: true
                            //     }
                            // },
                            // TL: {
                            //     tooltip: {
                            //         text: 'Telangana has 1,494 monthly users total',
                            //         backgroundColor: '#00AE4D'
                            //     },
                            //     backgroundColor: '#00AE4D',
                            //     label: {
                            //         visible: true
                            //     }
                            // },
                            // TN: {
                            //     tooltip: {
                            //         text: 'Tamil Nadu has 1,968 monthly users total',
                            //         backgroundColor: '#00bcd4'
                            //     },
                            //     backgroundColor: '#00bcd4',
                            //     label: {
                            //         visible: true
                            //     }
                            // }
                        },
                        label: { // text displaying. Like valueBox
                            fontSize: '15px',
                            visible: false
                        }
                    },
                    zooming: false // turn of zooming. Doesn't work with bounding box
                }
            }]
        }

        zingchart.loadModules('maps,maps-ind,maps-world-countries');
        zingchart.render({
            id: 'myChart',
            data: chartConfig,
            height: '100%',
            width: '100%',
        });
    </script>
</body>

</html>

</html>